<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="header::head(~{::title})">
<meta charset="UTF-8">
<link th:href="@{/webjars/bootstrap/5.1.3/css/bootstrap.min.css}" rel="stylesheet"/>
<title>従業員データベース</title>
</head>
<body>
	<header th:replace="header::header"></header>
	<div class="container">
		<div class="col-sm-5">
	        <div class="page-header">
	            <h2>従業員登録</h2>
	        </div>
	        <!-- エラーメッセージの一覧表示 -->
            <ul>
                <li th:each="error : ${#fields.detailedErrors()}">
                    <span th:text="${error.message}">Error message</span>
                </li>
            </ul>
	        <form method="post" th:object="${employee}" th:action="@{postCreate}" novalidate>
	            <table class="table table-bordered table-hover">
	                <tr>
	                    <th class="active">氏名</th>
	                    <td>
	                        <div class="form-group">
	                            <input type="text" class="form-control" th:field="*{name}"></input>
	                        	<span class="errorStr" th:errors="*{name}"></span>
	                        </div>
	                    </td>
	                </tr>
	                <tr>
	                    <th class="active">フリガナ</th>
	                    <td>
	                        <div class="form-group">
	                            <input type="text" class="form-control" th:field="*{name_kana}"></input>
	                        	<span class="errorStr" th:errors="*{name_kana}"></span>
	                        </div>
	                    </td>
	                </tr>
	                <tr>
	                    <th class="active">電話番号</th>
	                    <td>
	                        <div class="form-group">
	                            <input type="text" class="form-control" th:field="*{telephonenumber}"></input>
	                        </div>
	                    </td>
	                </tr>
	                <tr>
	                    <th class="active">メールアドレス</th>
	                    <td>
	                        <div class="form-group">
	                            <input type="text" class="form-control" th:field="*{mailaddress}"></input>
	                        </div>
	                    </td>
	                </tr>
	                <tr>
	                    <th class="active">グループ入社日</th>
	                    <td>
	                        <div class="form-group">
	                            <input type="date" class="form-control" th:field="*{entering_date}"></input>
	                        	<span class="errorStr" th:errors="*{entering_date}"></span>
	                        </div>
	                    </td>
	                </tr>
	                <tr>
	                    <th class="active">事業本部</th>
	                    <td>
	                        <div class="form-group">
	                        	<select id="bus_org" name="business_org_id">
		                            <option
		                             th:each="bus_org : ${bus_org}"
		                             th:value="${bus_org.business_org_id}"
		                             th:text="${bus_org.business_org_name}"
		                             th:field="*{business_org_id}">
		                            </option>
		                         </select>
		                         <span class="errorStr" th:errors="*{business_org_name}"></span>
	                        </div>
	                    </td>
	                </tr>
	                <tr>
	                    <th class="active">事業部</th>
	                    <td>
	                        <div class="form-group">
	                        	<select id="division" name="division_id">
	                        	<option value="" selected></option>
		                            <option
		                             th:each="division : ${division}"
		                             th:value="${division.division_id}"
		                             th:text="${division.division_name}"
		                             th:field="*{division_id}">
		                            </option>
		                         </select>
	                        </div>
	                    </td>
	                </tr>
	                <tr>
	                    <th class="active">法人</th>
	                    <td>
	                        <div class="form-group">
	                        	<select id="company" name="company_id">
		                            <option
		                             th:each="company : ${company}"
		                             th:value="${company.company_id}"
		                             th:text="${company.company_name}"
		                             th:field="*{company_id}">
		                            </option>
		                         </select>
		                         <span class="errorStr" th:errors="*{company_name}"></span>
	                        </div>
	                    </td>
	                </tr>
	                <tr>
	                    <th class="active">拠点統括</th>
	                    <td>
	                        <div class="form-group">
	                        	<select id="genBra" name="gen_bra_id">
	                        	<option value="" selected></option>
		                            <option
		                             th:each="genBra : ${genBra}"
		                             th:value="${genBra.gen_bra_id}"
		                             th:text="${genBra.gen_bra_name}"
		                             th:field="*{gen_bra_id}">
		                            </option>
		                         </select>
	                        </div>
	                    </td>
	                </tr>
	                <tr>
	                    <th class="active">拠点</th>
	                    <td>
	                        <div class="form-group">
	                        	<select id="branch" name="branch_id">
	                        	<option value="" selected></option>
		                            <option
		                             th:each="branch : ${branch}"
		                             th:value="${branch.branch_id}"
		                             th:text="${branch.branch_name}"
		                             th:field="*{branch_id}">
		                            </option>
		                         </select>
	                        </div>
	                    </td>
	                </tr>
	                <tr>
	                    <th class="active">部署</th>
	                    <td>
	                        <div class="form-group">
	                            <input type="text" class="form-control" th:field="*{department}"></input>
	                        </div>
	                    </td>
	                </tr>
	                <tr>
	                    <th class="active">職務</th>
	                    <td>
	                        <div class="form-group">
	                        	<select id="emp_job" name="emp_job_id">
	                        	<option value="" selected></option>
		                            <option
		                             th:each="empJob : ${empJob}"
		                             th:value="${empJob.emp_job_id}"
		                             th:text="${empJob.emp_job_name}"
		                             th:field="*{emp_job_id}">
		                            </option>
		                         </select>
	                        </div>
	                    </td>
	                </tr>
	                <tr>
	                    <th class="active">役職</th>
	                    <td>
	                        <div class="form-group">
	                            <input type="text" class="form-control" th:field="*{official_position}"></input>
	                        </div>
	                    </td>
	                </tr>
	                <tr>
	                    <th class="active">雇用体系</th>
	                    <td>
	                        <div class="form-group">
	                            <select id="employment_type" name="employment_type">
	                            <option
	                            	th:each="employmentType : ${employmentType}"
	                            	th:value="${employmentType.key}"
							      	th:text="${employmentType.value}"
							      	th:field="*{employment_type}">
							    </option>
	                            </select>
	                            <span class="errorStr" th:errors="*{employment_type}"></span>
	                        </div>
	                    </td>
	                </tr>
	                <tr>
	                    <th class="active">所属区分</th>
	                    <td>
	                        <div class="form-group">
	                            <div th:each="item : ${radioButton}" class="form-check-inline">
		                            <input type="radio"  class="form-check-input" th:text="${item.value}" th:value="${item.key}" th:field="*{org_kbn}">
		                        	<span class="errorStr" th:errors="*{org_kbn}"></span>
		                        </div>
	                        </div>
	                    </td>
	                </tr>
	                <tr>
	                    <th class="active">所属開始日</th>
	                    <td>
	                        <div class="form-group">
	                            <input type="date" class="form-control" th:field="*{start_date}"></input>
	                        	<span class="errorStr" th:errors="*{start_date}"></span>
	                        </div>
	                    </td>
	                </tr>
	                <tr>
	                    <th class="active">出向先法人名</th>
	                    <td>
	                        <div class="form-group">
	                        	<select id="second_company_id" name="second_company_id" th:field="*{second_company_id}">
		                            <option value="" selected></option>
		                            <option
		                             th:each="company : ${company}"
		                             th:value="${company.company_id}"
		                             th:text="${company.company_name}">
		                            </option>
		                         </select>
	                        </div>
	                    </td>
	                </tr>
	            </table>
	
	            <button class="btn btn-primary" type="submit">登録</button>
	        </form>
	    </div>
	 </div>
</body>
</html>