<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="header::head(~{::title})">
<meta charset="UTF-8">
<link th:href="@{/webjars/bootstrap/5.1.3/css/bootstrap.min.css}" rel="stylesheet"/>
<title>従業員データベース</title>
</head>
<body>
	<header th:replace="header::header"></header>
	<div class="container">
		<div class="col-sm-5">
	        <div class="page-header">
	            <h2>兼務情報登録</h2>
	        </div>
	        <form method="post" th:object="${employee}" th:action="@{'/employeeDetail/' + ${employee.id} + '/sub'}">
	            <table class="table table-bordered table-hover">
	            	<tr>
	                    <th class="active">氏名</th>
	                    <td th:text="${employee.name}"></td>
	                </tr>
	                <tr>
	                    <th class="active">フリガナ</th>
	                    <td th:text="${employee.name_kana}"></td>
	                </tr>
	                <tr>
	                    <th class="active">電話番号</th>
	                    <td th:text="${employee.telephonenumber}"></td>
	                </tr>
	                <tr>
	                    <th class="active">メールアドレス</th>
	                    <td th:text="${employee.mailaddress}"></td>
	                </tr>
	                <tr>
	                    <th class="active">在職状況</th>
	                    <td th:text="${employee.status}"></td>
	                </tr>
	                <tr>
	                    <th class="active">グループ入社日</th>
	                    <td th:text="${#dates.format(employee.entering_date,'yyyy/MM/dd')}"></td>
	                </tr>
	                <tr>
	                    <th class="active">事業本部</th>
	                    <td>
	                        <div class="form-group">
	                        	<select id="bus_org" name="business_org_id">
		                            <option
		                             th:each="bus_org : ${bus_org}"
		                             th:value="${bus_org.business_org_id}"
		                             th:text="${bus_org.business_org_name}"
		                             th:selected="${bus_org.business_org_name} == *{business_org_name}">
		                            </option>
		                         </select>
	                        </div>
	                    </td>
	                </tr>
	                <tr>
	                    <th class="active">事業部</th>
	                    <td>
	                        <div class="form-group">
	                        	<select id="division" name="division_id">
	                        	<option value="" selected></option>
		                            <option
		                             th:each="division : ${division}"
		                             th:value="${division.division_id}"
		                             th:text="${division.division_name}"
		                             th:selected="${division.division_name} == *{division_name}">
		                            </option>
		                         </select>
	                        </div>
	                    </td>
	                </tr>
	                <tr>
	                    <th class="active">法人</th>
	                    <td>
	                        <div class="form-group">
	                        	<select id="company" name="company_id">
		                            <option
		                             th:each="company : ${company}"
		                             th:value="${company.company_id}"
		                             th:text="${company.company_name}"
		                             th:selected="${company.company_name} == *{company_name}">
		                            </option>
		                         </select>
	                        </div>
	                    </td>
	                </tr>
	                <tr>
	                    <th class="active">拠点統括</th>
	                    <td>
	                        <div class="form-group">
	                        	<select id="genBra" name="gen_bra_id">
	                        	<option value="" selected></option>
		                            <option
		                             th:each="genBra : ${genBra}"
		                             th:value="${genBra.gen_bra_id}"
		                             th:text="${genBra.gen_bra_name}"
		                             th:selected="${genBra.gen_bra_name} == *{gen_bra_name}">
		                            </option>
		                         </select>
	                        </div>
	                    </td>
	                </tr>
	                <tr>
	                    <th class="active">拠点</th>
	                    <td>
	                        <div class="form-group">
	                        	<select id="branch" name="branch_id">
	                        	<option value="" selected></option>
		                            <option
		                             th:each="branch : ${branch}"
		                             th:value="${branch.branch_id}"
		                             th:text="${branch.branch_name}"
		                             th:selected="${branch.branch_name} == *{branch_name}">
		                            </option>
		                         </select>
	                        </div>
	                    </td>
	                </tr>
	                <tr>
	                    <th class="active">部署</th>
	                    <td>
	                        <div class="form-group">
	                            <input type="text" class="form-control" th:field="*{department}"></input>
	                        </div>
	                    </td>
	                </tr>
	                <tr>
	                    <th class="active">職務</th>
	                    <td>
	                        <div class="form-group">
	                        	<select id="emp_job" name="emp_job_id">
	                        	<option value="" selected></option>
		                            <option
		                             th:each="empJob : ${empJob}"
		                             th:value="${empJob.emp_job_id}"
		                             th:text="${empJob.emp_job_name}"
		                             th:selected="${empJob.emp_job_name} == *{emp_job_name}">
		                            </option>
		                         </select>
	                        </div>
	                    </td>
	                </tr>
	                <tr>
	                    <th class="active">役職</th>
	                    <td>
	                        <div class="form-group">
	                            <input type="text" class="form-control" th:field="*{official_position}"></input>
	                        </div>
	                    </td>
	                </tr>
	                <tr>
	                    <th class="active">雇用体系</th>
	                    <td>
	                        <div class="form-group">
	                            <select id="employment_type" name="employment_type">
	                            <option value="" selected></option>
	                            <option
	                            	th:each="employmentType : ${employmentType}"
	                            	th:value="${employmentType.key}"
							      	th:text="${employmentType.value}"
							      	th:selected="${employmentType.value} == *{employment_type}">
							    </option>
	                            </select>
	                        </div>
	                    </td>
	                </tr>
	                <tr>
	                    <th class="active">所属区分</th>
	                    <td>
	                        <div class="form-group">
	                            <a>兼務</a>
	                        </div>
	                    </td>
	                </tr>
	                <tr>
	                    <th class="active">所属開始日</th>
	                    <td>
	                        <div class="form-group">
	                            <input type="date" class="form-control" th:field="*{start_date}"></input>
	                        </div>
	                    </td>
	                </tr>
	            </table>
	
	            <button class="btn btn-primary" type="submit">兼務情報登録</button>
	        </form>
	    </div>
	 </div>
</body>
</html>